:root {
    /* CSS HEX */
    --onyx: #393e41ff;
    --light-onyx: #2F3337;
    --sea-green: #1c8946ff;
    --keppel: #44bba4ff;
    --lavender-web: #d8d2e1ff;
    --jet: #26292C;
    --zomp: #3BA590;
    --light-zomp: #40B09A;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    background-color: var(--keppel);
    color: var(--light-onyx);
    font-family: 'Ubuntu', sans-serif;
}

.center {
    text-align: center;
    font-weight: 300;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}

.left{
    float:left;
    text-align: left;
}

#reason-image{
    width: 256px;
    height: 256px;
}
.right{
    float:right;
    text-align: right;
}

.hire-block{
    display:inline-block;
    background-color: var(--zomp);
    width:85%;
    margin: 10px;
    border-radius: 20px;
    border: 5px solid var(--light-zomp);
    padding: 10px 0;
    clear:none;
    transition: 0.4s;
}

.hire-block .reason-text,.hire-block .reason-text,.reason-text{
    width: 70%;
    transition: 0.4s;
}

.hire-block:hover{
    border-color: var(--zomp);
    width:90%;
    transition: 0.4s;
}
#title-wrapper p, #title-wrapper h1{
    display:inline;
}

#experience-wrapper{
    width:100%;
}

#experience-wrapper #experience-programming{
    /* Move to the left */
    float: left;
    text-align: left;
    margin-left: 10vw;
}
#hire-reasons-wrapper{
    width:100%;
    display:inline-block;
}
#hire-reasons {
    text-align: left;
}

.reason-text{
    display:inline-block;
    /* center vertically */
    vertical-align: middle;
    width: 70%;
    margin: 10px;
    padding: 10px 0;
    clear:none;
}

.reason-image-wrapper{
    display:inline-block;
    /* width: 256px;
    height: 256px; */
    margin: 10px;
    padding: 10px 0;
    clear:none;
}

.reason-image{
    width: 100%;
    fill:var(--light-onyx);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--zomp);
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    border-color: var(--light-zomp);
}

.close-button:hover {
    background-color: var(--sea-green);
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} 

#contact-wrapper{
    text-align: center;
}

.contact-modal{
    width: 25%;
    height: 10vw;
    font-size: 30px;
    color: var(--light-onyx);
    background-color: var(--zomp);
    border-radius: 50px;
    border: 5px solid var(--light-zomp);
    transition: 0.4s;
}
.contact-modal:hover{
    transition: 0.4s;
    border: 5px solid var(--jet);
    width: 30%;
}